/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section Styling */
section {
  margin: 40px;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1{
  font-size: 32px;
  color: #4a4a4a;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #4a4a4a;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Table Header Styling */
th {
  padding: 12px;
  background-color: #415d6b;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Table Cell Styling */
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Row Hover Effect */
tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #415d6b;
}

input[type="text"],
input[type="number"] {
  margin-bottom: 16px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: #f1f1f1;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #415d6b;
  outline: none;
}

/* Button Styling */
button {
  background-color:#415d6b;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #415d6b;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Actions Button */
button.delete-btn {
  background-color: #dc3545;
}

button.delete-btn:hover {
  background-color: #c82333;
}

/* Table Responsiveness */
@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    padding: 8px;
  }
}

/* Flexbox for Mobile */
@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  table, section {
    margin: 20px;
  }
}
